<div class="admin-content">

  <% if (errors.length > 0) { %>
    <div class="errors">
      <p>Something goes wrong: </p>
      <ul>
        <% for (error of errors) { %>
          <li class="error">
            <p><%= error %> </p>
          </li>
        <% } %>
      </ul>
    </div>
  <% } %>

  <!-- ARTIST EDIT FORM -->

  <form class="form-create" action="/artists/<%= artist.slug %>" method="POST">

    <div class="field-group">
      <h3 class="field-group__title">About</h3>
      <div class="field">
        <label for="name" class="field__label">Name:</label>
        <input id="name" type="text" name="name" value="<%= artist.name %>" />
      </div>
    </div>

    <div class="field-group">
      <h3 class="field-group__title">Location</h3>
      <div class="field">
        <label for="city" class="field__label">City:</label>
        <input id="city" type="text" name="city" value="<%= artist.location[0].city %>" />
      </div>
      <div class="field">
        <label for="neighborhoodName" class="field__label">Neighborhood Name:</label>
        <input id="neighborhoodName" type="text" name="neighborhoodName" value="<%= artist.location[0].neighborhood %>" />
      </div>
      <div class="field">
        <label for="coordinates" class="field__label">Coordinates:</label>
        <input id="coordinates" type="text" name="coordinates" value="<%= artist.location[0].coordinates %>" />
      </div>
    </div>

    <div class="field-group">
      <h3 class="field-group__title">Categories:</h3>
      <div class="field--inline">
        <input type="checkbox" id="producer" name="categories" value="producer" <%= underscore.indexOf(artist.categories, 'producer') !== -1 ? 'checked' : '' %>>
        <label class="field__label" for="producer">Producer</label>
      </div>
      <div class="field--inline">
        <input type="checkbox" id="rapper" name="categories" value="rapper" <%= underscore.indexOf(artist.categories, 'rapper') !== -1 ? 'checked' : '' %>>
        <label class="field__label" for="rapper">Rapper</label>
      </div>
      <div class="field--inline">
        <input type="checkbox" id="singer" name="categories" value="singer" <%= underscore.indexOf(artist.categories, 'singer') !== -1 ? 'checked' : '' %>>
        <label class="field__label" for="singer">Singer</label>
      </div>
    </div>

    <div class="field-group">
      <h3 class="field-group__title">Images</h3>
      <div class="field">
        <label for="thumbnailUrl" class="field__label">Thumbnail Url:</label>
        <input id="thumbnailUrl" type="text" name="thumbnailUrl" value="<%= artist.image[0].thumbnailUrl %>" />
      </div>
    </div>

    <div class="field-group">
      <h3 class="field-group__title">Bio</h3>
      <div class="field">
        <label for="summary" class="field__label">Summary:</label>
        <textarea name="summary" rows="10" cols="50"><%= artist.bio[0].summary %></textarea>
      </div>
      <div class="field">
        <label for="wikipediaUrl" class="field__label">Wikipedia Url:</label>
        <input id="wikipediaUrl" type="text" name="wikipediaUrl" value="<%= artist.bio[0].wikipediaUrl %>">
      </div>
      <div class="field field--inline">
        <label for="birthdate" class="field__label">Birthdate:</label>
        <input id="birthdate" type="date" name="birthdate" value="<%= (artist.bio[0].birthdate !== null ? moment(artist.bio[0].birthdate).format('MM/DD/YYYY') : '') %>">
      </div>
      <div class="field field--inline">
        <label for="deathdate" class="field__label">Deathdate:</label>
        <input id="deathdate" type="date" name="deathdate" value="<%= (artist.bio[0].deathdate !== null ? moment(artist.bio[0].deathdate).format('MM/DD/YYYY') : '') %>">
      </div>
    </div>

    <div class="field-group">
      <h3 class="field-group__title">Youtube</h3>
      <div class="field--inline">
        <label for="youtugePageUrl" class="field__label">Page Url:</label>
        <input id="youtugePageUrl" type="text" name="youtugePageUrl" value="<%= artist.youtube[0].pageUrl %>">
      </div>
      <div class="field--inline">
        <label for="clipExampleUrl" class="field__label">Clip Example Url:</label>
        <input id="clipExampleUrl" type="text" name="clipExampleUrl" value="<%= artist.youtube[0].clipExampleUrl %>">
      </div>
    </div>

    <div class="field">
      <button class="button" type="submit">Edit</button>
    </div>

  </form>

</div>