<form class="form-create" action="<%= action %>" enctype="multipart/form-data" method="POST">

  <div class="field-group">
    <h3 class="field-group__title">About</h3>
    <div class="field">
      <label for="name" class="field__label">Name:</label>
      <input id="name" type="text" name="name" value="<%= artist.name %>" />
    </div>
  </div>

  <div class="field-group">
    <h3 class="field-group__title">Location</h3>
    <div class="field">
      <label for="city" class="field__label">City:</label>
      <input id="city" type="text" name="city" value="<%= typeof artist.location !== 'undefined'  ? artist.location[0].city : '' %>" />
    </div>
    <div class="field">
      <label for="neighborhoodName" class="field__label">Neighborhood Name:</label>
      <input id="neighborhoodName" type="text" name="neighborhoodName" value="<%= typeof artist.location !== 'undefined' ? artist.location[0].neighborhood : '' %>" />
    </div>
    <div class="field">
      <label for="coordinates" class="field__label">Coordinates:</label>
      <input id="coordinates" type="text" name="coordinates" value="<%= typeof artist.location !== 'undefined' ? artist.location[0].coordinates : '' %>" />
    </div>
  </div>

  <div class="field-group">
    <h3 class="field-group__title">Categories:</h3>
    <div class="field--inline">
      <input type="checkbox" id="producer" name="categories" value="producer" <%= underscore.indexOf(artist.categories, 'producer') !== -1 ? 'checked' : '' %>>
      <label class="field__label" for="producer">Producer / DJ</label>
    </div>
    <div class="field--inline">
      <input type="checkbox" id="rapper" name="categories" value="rapper" <%= underscore.indexOf(artist.categories, 'rapper') !== -1 ? 'checked' : '' %>>
      <label class="field__label" for="rapper">Rapper</label>
    </div>
    <div class="field--inline">
      <input type="checkbox" id="singer" name="categories" value="singer" <%= underscore.indexOf(artist.categories, 'singer') !== -1 ? 'checked' : '' %>>
      <label class="field__label" for="singer">Singer</label>
    </div>
    <div class="field--inline">
      <input type="checkbox" id="group" name="categories" value="group" <%= underscore.indexOf(artist.categories, 'group') !== -1 ? 'checked' : '' %>>
      <label class="field__label" for="group">Group</label>
    </div>
  </div>

  <div class="field-group">
    <h3 class="field-group__title">Images</h3>
    <div class="field">
      <label class="field__label" for="thumbnail">Thumbnail:</label>
      <%if (typeof artist.image !== 'undefined') { %>
        <div class="artist-panel__thumbnail--preview">
          <img class="artist-panel__thumbnail__picture" src="/uploads/medium-<%= artist.image[0].thumbnailUrl %>" alt="" />
        </div>
      <% } %>
      <input type="hidden" name="originalThumbnail" value="<%= typeof artist.image !== 'undefined' ? artist.image[0].thumbnailUrl : '' %>" />
      <input id="thumbnail" class="input--file" type="file" name="thumbnail" />
    </div>
  </div>

  <div class="field-group">
    <h3 class="field-group__title">Bio</h3>
    <div class="field">
      <label for="summary" class="field__label">Summary:</label>
      <textarea name="summary" rows="10" cols="50"><%= typeof artist.bio !== 'undefined' ? artist.bio[0].summary : '' %></textarea>
    </div>
    <div class="field">
      <label for="wikipediaUrl" class="field__label">Wikipedia Url:</label>
      <input id="wikipediaUrl" type="text" name="wikipediaUrl" value="<%= typeof artist.bio !== 'undefined' ?  artist.bio[0].wikipediaUrl : '' %>">
    </div>
    <div class="field field--inline">
      <label for="birthdate" class="field__label">Birthdate:</label>
      <input id="birthdate" type="date" name="birthdate" value="<%= typeof artist.bio !== 'undefined' ? (artist.bio[0].birthdate !== null ? moment(artist.bio[0].birthdate).format('YYYY-MM-DD') : '') : ''%>">
    </div>
    <div class="field field--inline">
      <label for="deathdate" class="field__label">Deathdate:</label>
      <input id="deathdate" type="date" name="deathdate" value="<%= typeof artist.bio !== 'undefined' ? (artist.bio[0].deathdate !== null ? moment(artist.bio[0].deathdate).format('YYYY-MM-DD') : '') : '' %>">
    </div>
  </div>

  <div class="field-group">
    <h3 class="field-group__title">Youtube</h3>
    <div class="field--inline">
      <label for="clipExampleUrl" class="field__label">Clip Example Url:</label>
      <input id="clipExampleUrl" type="text" name="clipExampleUrl" value="<%= typeof artist.youtube !== 'undefined' ? artist.youtube[0].clipExampleUrl : '' %>">
    </div>
  </div>

  <div class="field">
    <button class="button--primary--md" type="submit"><%= submitLabel %></button>
  </div>

</form>