<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rap World Map <%= typeof locals.title!='undefined' ? '- ' + locals.title : '' %></title>
  <meta name="description" content="<%= locals.description %>" />

  <!-- Open Graph -->
  <meta property="og:title" content="Rap World Map <%= typeof locals.title!='undefined' ? '- ' + locals.title : '' %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://rapworldmap.com" />
  <meta property="og:image" content="http://rapworldmap.com/images/app-screenshot.png" />

  <!-- css -->
  <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />

  <link rel="stylesheet" href="/css/main.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/images/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Rap World Map">
  <meta name="application-name" content="Rap World Map">
  <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#000000">
</head>
<body class="<%= locals.slug %>">

  <%- body %>

</body>
</html>