<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

  <title>Rap World Map <%= typeof locals.title!='undefined' ? '- ' + locals.title : '' %></title>
  <meta name="description" content="<%= locals.description %>" />

  <%- include shared/social-metas.ejs %>

  <!-- css -->
  <link rel="stylesheet" href="/css/admin.css">

  <%- include shared/favicon.ejs %>

</head>
<body class="<%= locals.slug %>">

  <%- body %>

  <script type="text/javascript">
    document.documentElement.className = document.documentElement.className.replace('no-js','js');
  </script>
</body>


</html>